<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Les Anecdotes du jour</a>
        </div>
        <ul class="nav navbar-nav">
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">Accueil</a></li>
            <li routerLinkActive="active"><a routerLink="/restapi">Appel REST</a></li>
            <li routerLinkActive="active"><a routerLink="/register">Inscription</a></li>
            <li routerLinkActive="active"><a routerLink="/login">Connexion</a></li>
        </ul>
    </div>
</nav>